extends ./layout/common 


block content 
    h1 hello #{name} 
    p This is the first site 
    p To be precise, it is the first index.pug in /views

    img(src='/image/photo.jpg')

    a.btn.btn-primary(href='/users') Users
    
    a.btn.btn-primary(href='/users/create') Create user